
{% extends 'base.html' %}
{% load thumbnail %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}
    About
{% endblock %}

{% block content %}
<div class="container">
    <h1>About</h1>
    This online library was developed within the course Systems Development by following students:
    </br>
    </br>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active" align="center">
          <img src="/media/about/ah-code.png">
          <div class="carousel-caption">
              ah-code
          </div>
        </div>
        <div class="item" align="center">
          <img src="/media/about/eazah.png">
          <div class="carousel-caption">
              eazah
          </div>
        </div>
        <div class="item" align="center">
          <img src="/media/about/kopf85.png">
          <div class="carousel-caption">
              kopf85
          </div>
        </div>
        <div class="item" align="center">
          <img src="/media/about/tanjali.png">
          <div class="carousel-caption">
              tanjali
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
</div>
{% endblock %}