{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Library{% endblock %}
{% block nav_user %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li id="nav-username"><a href="{% url 'profile' %}">
        <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
      </li>
      <li>
        <a href="{% url 'django.contrib.auth.views.logout' %}"> <span class="glyphicon glyphicon-off"></span> Sign out</a>
      </li>
    </ul>
	
  {% else %}
    <form class="navbar-form navbar-right" 
          method="post" 
          action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      {% bootstrap_field form.username show_label=False %}
      {% bootstrap_field form.password show_label=False %}
      <input type="hidden" name="next" value="{% url 'booklib.views.home' %}" />
      <button type="submit" class="btn btn-success">Sign in</button>
    </form>
  {% endif %}
{% endblock %}
{% block content %}
	<div class="container">
      <div class="jumbotron">
		<div class="container">
         <!-- <h1>Online Library</h1> -->
		  {% if not user.is_authenticated %}
            <p><a class="btn btn-lg btn-primary" 
				  href="{% url 'registration_register' %}">Register</a> 
			  &nbsp;
              <a class="btn btn-lg btn-success" 
				  href="{% url 'django.contrib.auth.views.login' %}">Sign in</a>
            </p>
		  {% else %}
		  {% block search %}
		  <a class="btn btn-lg btn-success"
				href="search/">To preliminary search</a>
		  {% endblock %}
		 	  {% endif %}


<br />
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/media/carousel/sign-up.png">
      <div class="carousel-caption">
      </div>
    </div>
        <div class="item">
      <img src="/media/carousel/check-library.png">
      <div class="carousel-caption">
      </div>
    </div>
        <div class="item">
      <img src="/media/carousel/10-free-downloads.png">
      <div class="carousel-caption">
      </div>
    </div>
        <div class="item">
      <img src="/media/carousel/fabulous-variety.png">
      <div class="carousel-caption">
      </div>
    </div>
        <div class="item">
      <img src="/media/carousel/favorite-function.png">
      <div class="carousel-caption">
      </div>
    </div>
        <div class="item">
      <img src="/media/carousel/search-function.png">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>



		</div> <!-- /.container -->
	  </div> <!-- /.jumbotron -->
    </div> <!-- /.container -->

{% endblock content %}
