{% extends "base.html" %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container">
  <h1>Profile</h1>
  <h2>{{ user.get_username }}</h2>
  <p>{{ user.get_full_name }}</p>


<br />

<ul class="nav nav-tabs">
  <li class="active"><a href="#favorites" data-toggle="tab">  <span class="glyphicon glyphicon-bookmark"></span> Favorites</a></li>
  <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="favorites">
This are your favorites!<p/>

<table class="table table-striped">
    {% for fav in favorites %}
        <tr>
        <td>
      <a href="/details/{{ fav.book.id }}">{{fav.book}}</a>
        </td>
            <td>
                  {% for author in fav.book.author.all %}
                            {{author}} <br/>
                       {% endfor %}
            </td>
        <td>
            {{ fav.endDate }}
        </td>
        </tr>
    {% endfor %}


</table>



  </div>
  <div class="tab-pane" id="settings">


  <p><a href="{% url 'django.contrib.auth.views.password_change' %}">Change password</a></p>

  </div>
</div>













<!--      >
add Glyphicons:
<span class="glyphicon glyphicon-bookmark"></span>
<!-->







</div>
{% endblock %}
