{% extends "base.html" %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load highlight %}

{% block content %}

<div class="container">

    <h2>Search</h2>

    <form method="get"  action="." class="form-inline">
	
		<input class="form-control input-large input-lg" id="id_q" name="q" type="text" placeholder="Search...">

    {% buttons %}
      <button type="submit" value="Search" class="btn btn-primary btn-lg">
        {% bootstrap_icon "search" %} Search!
      </button>

    {% endbuttons %}
       
        {% if query %}
            <h3>Results</h3>
			
			<table class="table">
        {% for result in page.object_list %}
  
                <tr>
                    <td>
                        <a href="/details/{{ result.object.id }}">
                            <img src="{% thumbnail result.object.image 100x100 crop %}" alt="" />
                        </a>
                    </td>
                    <td>

                        <a href="/details/{{ result.object.id }}">
                            <h4>{% highlight result.object.title with query %}</h4>
                        </a>

                        {% for author in result.object.author.all %}
                            {{author}};
                        {% endfor %}

                        <br/> <br/>
                           {{result.object.description|truncatechars:300}}

                        <br /> <br/>
                            Category: {{result.object.category.name}}

                    </td>
                </tr>
				
				{% empty %}
				<tr>

				<td>
                <p>No results found.</p>
				</td>
				</tr>
            {% endfor %}

    </table>

           


            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
	
	</div>
{% endblock %}