
{% extends 'base.html' %}
{% load thumbnail %}
{% load url from future %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
{% block title %}
    {{ book.title }}
{% endblock %}



{% block content %}
<div class="container">

   <p>
        <a href="{% url 'haystack_search' %}">« back to search</a>
   </p>
   <table class="table">
        <tr>
             <td>
                  <img src="{% thumbnail book.image 300x300 crop %}" alt=""  />
             </td>
             <td>
                  <h1>{{ book.title }}</h1>
                  <h2>
                       {% for author in book.author.all %}
                            {{author}}<br />
                       {% endfor %}
                  </h2>
                  <p>
                       {{ book.description }}
                  </p>
                  <br/>
                  <p align="right">
                       Category: {{ book.category }}
                  </p>

             </td>
        </tr>
        <tr>
            <td>
                {% if book.id in Favorite.objects %}
                     <a class="btn btn-default btn-sm" data-toggle="tooltip" title="Mark as favorite"
                    href="/favorites/{{ book.id }}"> <span class="glyphicon glyphicon-star-empty"></span></a>

                {% else %}
                    <a class="btn btn-warning btn-sm" data-toggle="tooltip" title="Remove from favorites"
                    href="/favorites/{{ book.id }}"> <span class="glyphicon glyphicon-star"></span></a>
                {% endif %}
                
				
				{% if lendings > 0 %}
				<a class="btn btn-success btn-sm"
                href="{% url 'book-pdf' book.id %}" target="_blank" data-toggle="tooltip" title="Download PDF"> <span class="glyphicon glyphicon-download-alt"></span></a>
				{% endif %}
				<span class="badge">{{lendings}} books left this month! </span>
            </td>
        </tr>
    </table>

</div>
{% endblock %}



{% endblock %}
