{% extends 'demo/base.html' %}
				{% load thumbnail %}
{% load bootstrap3 %}


{% block title %}
    Pagination
{% endblock %}

{% block content %}
  
  
  {% load mptt_tags %}
  
  
{% drilldown_tree_for_node nodes as drilldown cumulative count booklib.Book.category in game_count %}
{% for node,structure in drilldown|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
    {% ifequal node nodes %}
        <strong>{{ node.name }}</strong>
    {% else %}
        <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
        {% ifequal node.parent_id nodes.pk %}({{ node.game_count }}){% endifequal %}
    {% endifequal %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}


  {% full_tree_for_model booklib.Category as categories %}
<div class="pull-left">
<ul class="nav nav-pills nav-stacked">
    {% recursetree nodes %}
        <li class="">
            <a href="?category_filter= {{ node.pk }}">{{ node.name }}
			</a>
        </li>
    {% endrecursetree %}
</ul>
</div>

<div class="pull-right">
        {% for line in lines %}
		
		<div class="media">
  <a class="pull-left" href="details/{{ line.id }}">
    <img class="media-object" src="{% thumbnail line.image 100x100 crop %}" alt="">
  </a>
  <div class="media-body">
    <a href="details/{{ line.id }}" class="media-heading">{{line}}</a>
    </p>
                            {% for author in line.author.all %}
                                {{author}}<br />
                            {% endfor %}
							
							{{line.description|truncatechars:200}}
  </div>
</div>
             

        {% endfor %}
    <hr>

    {% bootstrap_pagination lines url="/pagination?page=1&flop=flip" extra="q=foo" size="small" %}
</div>
{% endblock %}